In [1]:
import numpy as np
import pandas as pd
pd.set_option('max_columns', None)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [56]:
#url = 'https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset'
#data = pd.read_csv(url)
#from google.colab import files
#uploaded = files.upload()

Saving emp_test.csv to emp_test.csv

In [4]:
data = pd.read_csv('emp_train.csv')

In [5]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,57,0,Travel_Rarely,405,Research & Development,1,2,Life Sciences,1,1483,2,Male,93,4,2,Research Scientist,3,Married,4900,2721,0,Y,No,24,4,1,80,1,13,2,2,12,9,2,8
1054,49,0,Travel_Rarely,1490,Research & Development,7,4,Life Sciences,1,1484,3,Male,35,3,3,Healthcare Representative,2,Divorced,10466,20948,3,Y,No,14,3,2,80,2,29,3,3,8,7,0,7
1055,34,0,Travel_Frequently,829,Research & Development,15,3,Medical,1,1485,2,Male,71,3,4,Research Director,1,Divorced,17007,11929,7,Y,No,14,3,4,80,2,16,3,2,14,8,6,9
1056,28,1,Travel_Frequently,1496,Sales,1,3,Technical Degree,1,1486,1,Male,92,3,1,Sales Representative,3,Married,2909,15747,3,Y,No,15,3,4,80,1,5,3,4,3,2,1,2
1057,29,1,Travel_Frequently,115,Sales,13,3,Technical Degree,1,1487,1,Female,51,3,2,Sales Executive,2,Single,5765,17485,5,Y,No,11,3,1,80,0,7,4,1,5,3,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1058 non-null   int64
 1   Attrition                 1058 non-null   int64
 2   BusinessTravel            1058 non-null   object
 3   DailyRate                 1058 non-null   int64
 4   Department                1058 non-null   object
 5   DistanceFromHome          1058 non-null   int64
 6   Education                 1058 non-null   int64
 7   EducationField            1058 non-null   object
 8   EmployeeCount             1058 non-null   int64
 9   EmployeeNumber            1058 non-null   int64
 10  EnvironmentSatisfaction   1058 non-null   int64
 11  Gender                    1058 non-null   object
 12  HourlyRate                1058 non-null   int64
 13  JobInvolvement            1058 non-null   int64
 14  JobLevel                  1058 non-null   int64
 15  JobRole                   1058 non-null   object
 16  JobSatisfaction           1058 non-null   int64
 17  MaritalStatus             1058 non-null   object
 18  MonthlyIncome             1058 non-null   int64
 19  MonthlyRate               1058 non-null   int64
 20  NumCompaniesWorked        1058 non-null   int64
 21  Over18                    1058 non-null   object
 22  OverTime                  1058 non-null   object
 23  PercentSalaryHike         1058 non-null   int64
 24  PerformanceRating         1058 non-null   int64
 25  RelationshipSatisfaction  1058 non-null   int64
 26  StandardHours             1058 non-null   int64
 27  StockOptionLevel          1058 non-null   int64
 28  TotalWorkingYears         1058 non-null   int64
 29  TrainingTimesLastYear     1058 non-null   int64
 30  WorkLifeBalance           1058 non-null   int64
 31  YearsAtCompany            1058 non-null   int64
 32  YearsInCurrentRole        1058 non-null   int64
 33  YearsSinceLastPromotion   1058 non-null   int64
 34  YearsWithCurrManager      1058 non-null   int64
dtypes: int64(27), object(8)
memory usage: 289.4+ KB

In [7]:
print(data.shape)
{col: len(data[col].unique()) for col in data.columns}

(1058, 35)

{'Age': 43,
 'Attrition': 2,
 'BusinessTravel': 3,
 'DailyRate': 731,
 'Department': 3,
 'DistanceFromHome': 29,
 'Education': 5,
 'EducationField': 6,
 'EmployeeCount': 1,
 'EmployeeNumber': 1058,
 'EnvironmentSatisfaction': 4,
 'Gender': 2,
 'HourlyRate': 71,
 'JobInvolvement': 4,
 'JobLevel': 5,
 'JobRole': 9,
 'JobSatisfaction': 4,
 'MaritalStatus': 3,
 'MonthlyIncome': 991,
 'MonthlyRate': 1038,
 'NumCompaniesWorked': 10,
 'Over18': 1,
 'OverTime': 2,
 'PercentSalaryHike': 15,
 'PerformanceRating': 2,
 'RelationshipSatisfaction': 4,
 'StandardHours': 1,
 'StockOptionLevel': 4,
 'TotalWorkingYears': 40,
 'TrainingTimesLastYear': 7,
 'WorkLifeBalance': 4,
 'YearsAtCompany': 35,
 'YearsInCurrentRole': 19,
 'YearsSinceLastPromotion': 16,
 'YearsWithCurrManager': 18}

In [9]:
def tr2(df):
  df = df.copy()
  for col in df.columns:
    if(df[col].dtype == np.number):
      continue
    df[col] = LabelEncoder().fit_transform(df[col])
  return df

In [10]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop single-value columns and id columns
    df = df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

    # Binary-encode binary columns
    df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
    df['OverTime'] = df['OverTime'].replace({'No': 0, 'Yes': 1})
      
    # Ordinal-encode the BusinessTravel column
    df['BusinessTravel'] = df['BusinessTravel'].replace({'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2})
    
    # One-hot encoding
    #for column in ['Department', 'EducationField', 'JobRole', 'MaritalStatus']:
        #df = onehot_encode(df, column=column)
    
    df = tr2(df)
    
    # Split df into X and y
    y = df['Attrition']
    X = df.drop('Attrition', axis=1)
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    # Scale X
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)
    
    return X_train, X_test, y_train, y_test,scaler

In [26]:
def op_preprocess(sample,scaler):
    df = sample.copy()
    
    # Drop single-value columns and id columns
    df = df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

    # Binary-encode binary columns
    df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
    df['OverTime'] = df['OverTime'].replace({'No': 0, 'Yes': 1})
      
    # Ordinal-encode the BusinessTravel column
    df['BusinessTravel'] = df['BusinessTravel'].replace({'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2})
    
    # One-hot encoding
    #for column in ['Department', 'EducationField', 'JobRole', 'MaritalStatus']:
        #df = onehot_encode(df, column=column)

    df = tr2(df)
    
    #print("Inside==============================================")
    #print(df.shape)
    
    # Split df into X and y
    #y = df['Attrition']
    #X = df.drop('Attrition', axis=1)
    
    # Train-test split
    #X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    # Scale X
    #scaler = StandardScaler()
    #scaler.fit(X_train)
    #X_test = pd.DataFrame(scaler.transform(df), index=df.index, columns=df.columns)
    #X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

    df = pd.DataFrame(scaler.transform(df), index=df.index, columns=df.columns)
    
    return df

In [11]:
X_train, X_test, y_train, y_test,scaler = preprocess_inputs(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  after removing the cwd from sys.path.

In [12]:
X_train

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
69,-0.151184,-0.178690,-1.210770,-0.516815,-0.001490,0.049628,0.543481,1.171467,0.877687,0.668363,-1.036543,-0.989936,0.619117,0.239205,-0.133876,-0.721186,1.084744,-1.097594,1.583385,0.544472,-0.413384,-1.606612,0.297044,-1.207653,-2.230260,-1.080579,-1.003995,-1.195867,-0.693579,-1.169939
491,0.589717,1.710319,0.451045,-0.516815,-0.001490,2.034728,0.543481,1.171467,0.877687,0.320760,0.399865,-0.092200,-1.040835,0.239205,-1.490975,0.259063,0.775315,0.071067,1.583385,-0.563944,-0.413384,-0.684989,0.297044,-0.219361,0.140993,0.337202,0.146601,0.703732,0.493122,0.770594
1024,1.013090,-0.178690,-1.130054,-0.516815,-0.858797,1.042178,0.543481,-1.574739,-1.139358,0.817335,0.399865,1.703272,0.204129,0.239205,-0.133876,1.504433,1.726894,0.071067,-0.631558,1.098680,-0.413384,-0.684989,1.518226,1.757223,-0.649424,1.754983,2.119052,3.417444,0.789798,0.493375
781,-1.209614,-0.178690,-1.514645,-0.516815,-0.981270,-0.942923,0.543481,-1.574739,0.877687,-0.324787,-1.036543,-0.989936,-1.040835,-1.557871,-0.133876,-0.504903,-0.389206,-0.708040,-0.631558,0.267368,-0.413384,-1.606612,1.518226,-0.713507,-0.649424,0.337202,-0.346512,-0.381753,-0.396903,-0.338282
757,-0.362870,-0.178690,-1.448173,1.385888,-0.981270,1.042178,-0.205450,-0.659337,0.877687,0.469733,1.836274,-0.092200,1.034105,1.137744,-1.490975,0.956749,-0.222846,-1.097594,-0.631558,-1.118153,-0.413384,1.158255,0.297044,0.521858,-0.649424,-1.080579,1.297198,-0.924496,-0.693579,1.325032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,0.378031,1.710319,0.489029,1.385888,-0.981270,0.049628,-0.205450,0.256065,-1.139358,0.022816,0.399865,-0.092200,1.034105,-1.557871,-1.490975,-0.452577,-1.384040,-1.097594,-0.631558,0.544472,-0.413384,1.158255,0.297044,-0.219361,-0.649424,0.337202,0.310972,-0.381753,-0.396903,0.770594
847,-0.362870,1.710319,-0.341878,-0.516815,-0.981270,0.049628,0.543481,1.171467,0.877687,1.562197,-1.036543,-0.092200,-1.870811,-1.557871,1.223223,0.147433,1.643714,-1.097594,-0.631558,1.375785,2.419060,0.236633,-0.924138,0.274785,0.140993,0.337202,0.968456,1.246474,0.493122,1.325032
715,-0.468713,1.710319,-0.000019,-0.516815,-0.981270,1.042178,1.292413,0.256065,-1.139358,0.916650,1.836274,-0.092200,-1.870811,-0.659333,-0.133876,0.217202,0.855167,-0.708040,1.583385,-0.563944,-0.413384,-1.606612,0.297044,-0.713507,-0.649424,0.337202,-0.182141,0.160989,-0.396903,-0.615501
905,-0.892085,-0.178690,-0.270658,-0.516815,-0.981270,0.049628,-0.954382,1.171467,-1.139358,1.065622,-1.036543,1.703272,0.204129,1.137744,-1.490975,1.413734,-1.497164,0.071067,-0.631558,-0.286840,-0.413384,-0.684989,1.518226,-0.342897,-0.649424,-1.080579,-0.017770,0.703732,-0.396903,0.770594
235,0.589717,-0.178690,0.508021,1.385888,0.855818,0.049628,-0.205450,1.171467,-1.139358,0.718020,0.399865,1.703272,-0.625847,1.137744,-0.133876,1.410245,-0.891614,0.850175,1.583385,1.929993,2.419060,0.236633,0.297044,1.263077,0.140993,0.337202,1.625939,2.331959,-0.396903,1.325032

In [13]:
y_train

69      1
491     0
1024    0
781     0
757     0
       ..
960     0
847     0
715     0
905     0
235     0
Name: Attrition, Length: 740, dtype: int64

**Training**

In [71]:
models = {
    "                   Logistic Regression": LogisticRegression(),
    "                   K-Nearest Neighbors": KNeighborsClassifier(),
    "                         Decision Tree": DecisionTreeClassifier(),
    "Support Vector Machine (Linear Kernel)": LinearSVC(max_iter=1500),
    "   Support Vector Machine (RBF Kernel)": SVC(),
    "                        Neural Network": MLPClassifier(max_iter=1500),
    "                         Random Forest": RandomForestClassifier(),
    "                     Gradient Boosting": GradientBoostingClassifier()
}

#pre_models = models.copy()

print("Normalized Dataset")
for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")
print('--------------------------------')
'''
print("Handpicked Dataset")
for name, pre_model in pre_models.items():
    pre_model.fit(pre_X_train, pre_y_train)
    print(name + " trained.")'''

Normalized Dataset
                   Logistic Regression trained.
                   K-Nearest Neighbors trained.
                         Decision Tree trained.
Support Vector Machine (Linear Kernel) trained.
   Support Vector Machine (RBF Kernel) trained.
                        Neural Network trained.
                         Random Forest trained.
                     Gradient Boosting trained.
--------------------------------

'\nprint("Handpicked Dataset")\nfor name, pre_model in pre_models.items():\n    pre_model.fit(pre_X_train, pre_y_train)\n    print(name + " trained.")'

Output

In [72]:
print("Normalized dataset")
for name, model in models.items():
  print(name + ": {:.2f}%".format(model.score(X_test, y_test) * 100))
print("------------------------------")
'''
print("Handpicked Dataset")
for name, pre_model in pre_models.items():
    print(name + ": {:.2f}%".format(pre_model.score(pre_X_test, pre_y_test) * 100))'''

Normalized dataset
                   Logistic Regression: 85.85%
                   K-Nearest Neighbors: 82.39%
                         Decision Tree: 77.04%
Support Vector Machine (Linear Kernel): 86.79%
   Support Vector Machine (RBF Kernel): 82.70%
                        Neural Network: 84.59%
                         Random Forest: 82.08%
                     Gradient Boosting: 81.45%
------------------------------

'\nprint("Handpicked Dataset")\nfor name, pre_model in pre_models.items():\n    print(name + ": {:.2f}%".format(pre_model.score(pre_X_test, pre_y_test) * 100))'

In [73]:
svm = LinearSVC(max_iter=1500)

In [74]:
svm.fit(X_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1500,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [75]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
pred = svm.predict(X_test)

cm = confusion_matrix(y_test,pred)
print(cm)

print("Accuracy:", accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

[[248   9]
 [ 33  28]]
Accuracy: 0.8679245283018868
              precision    recall  f1-score   support

           0       0.88      0.96      0.92       257
           1       0.76      0.46      0.57        61

    accuracy                           0.87       318
   macro avg       0.82      0.71      0.75       318
weighted avg       0.86      0.87      0.85       318

In [38]:
df = data.iloc[0:2,:]
print(df['Attrition'])
df = df.drop('Attrition', axis = 1)

#print("Dataframe\n",df)
#df = np.array(df)

#print(df.shape)

#smple = pd.DataFrame(df,columns=data.columns)
#smple

#smple.drop('Attrition',axis = 1)

#print(smple.shape)

df = op_preprocess(df,scaler)

#print("Dataframe\n",df)

#print(df.shape)

#model["Support Vector Machine (Linear Kernel)"].predict(smple)

0    1
1    0
Name: Attrition, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  after removing the cwd from sys.path.

In [76]:
df = pd.read_csv('emp_test.csv')
df = op_preprocess(df,scaler)
pred = svm.predict(df)
pred

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  after removing the cwd from sys.path.

array([1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [77]:
#df = data.iloc[0:2,:]
df = pd.read_csv('emp_test.csv')
#print(df['Attrition'])
#df = df.drop('Attrition', axis = 1)
df = op_preprocess(df,scaler)
for row in range(df.shape[0]):
  for (intercept, coef) in zip(svm.intercept_, svm.coef_):
      s = "y = {0:.3f}".format(intercept)
      h = intercept
      mx = -1
      for (i, c) in enumerate(coef):
          s += " + {0:.3f} * x{1}".format(c, i)
          k = max(h,c*df.iloc[row][i])
          if(k>h):
            h = k
            mx = i
      #print(s)
      print(h,mx)
      print(pred[row],df.columns[mx])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  after removing the cwd from sys.path.

0.463915114434167 18
1 OverTime
0.450364313611681 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.48604792014774884 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.18174199372570868 3
0 Department
0.481969793686484 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.3616650630791695 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4350713393819377 15
1 MonthlyIncome
0.4942041730702787 15
0 MonthlyIncome
0.29845410292956365 15
0 MonthlyIncome
0.30559082423677725 15
0 MonthlyIncome
0.38511429023144267 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.463915114434167 18
0 OverTime
0.1580058970151606 14
0 MaritalStatus
0.29842033216637254 11
0 JobLevel
0.45546197168826213 15
1 MonthlyIncome
0.5640103947859156 28
0 YearsSinceLastPromotion
0.17814937232224917 15
0 MonthlyIncome
0.3430427440649067 17
0 NumCompaniesWorked
0.18525430014257946 25
0 WorkLifeBalance
0.4656572878414244 15
1 MonthlyIncome
0.4880869833783813 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.3453525572341099 15
0 MonthlyIncome
0.5156479739120364 28
1 YearsSinceLastPromotion
0.463915114434167 18
0 OverTime
0.304571292621461 15
0 MonthlyIncome
0.3331181778503152 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.3320986462349991 15
0 MonthlyIncome
0.4768721356099028 15
0 MonthlyIncome
0.5156479739120364 28
1 YearsSinceLastPromotion
0.2566533067015984 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.4625986929954757 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.25583359097107955 7
0 EnvironmentSatisfaction
0.4473057187657324 15
0 MonthlyIncome
0.23218454793400906 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.3430427440649067 17
0 NumCompaniesWorked
0.4391494658432026 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.18174199372570868 3
0 Department
0.22810642147274415 15
0 MonthlyIncome
0.4401689974585188 15
0 MonthlyIncome
0.2782393485896257 4
0 DistanceFromHome
0.47993073045585155 15
0 MonthlyIncome
0.45402163609713625 26
0 YearsAtCompany
0.3025322293908285 15
0 MonthlyIncome
0.34433302561879375 15
0 MonthlyIncome
0.45444244007294593 15
0 MonthlyIncome
0.3963291379999212 15
0 MonthlyIncome
0.4768460933465847 26
0 YearsAtCompany
0.4092361288388391 17
0 NumCompaniesWorked
0.4840088569171164 15
0 MonthlyIncome
0.2254734486687612 28
0 YearsSinceLastPromotion
0.3361767726962639 15
0 MonthlyIncome
0.2106559745170418 17
0 NumCompaniesWorked
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.2254734486687612 28
0 YearsSinceLastPromotion
0.25583359097107955 7
0 EnvironmentSatisfaction
0.463915114434167 18
1 OverTime
0.48095026207116776 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.45570740182671127 11
0 JobLevel
0.37695803730891286 15
0 MonthlyIncome
0.29029785000703384 15
0 MonthlyIncome
0.31680567200525567 15
0 MonthlyIncome
0.3015126977755123 15
0 MonthlyIncome
0.422836959998143 15
0 MonthlyIncome
0.38554826434879097 26
0 YearsAtCompany
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.4672855530381573 28
1 YearsSinceLastPromotion
0.3800166321548616 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4748330723792704 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.32904005138905035 15
1 MonthlyIncome
0.2768493592909742 17
1 NumCompaniesWorked
0.463915114434167 18
1 OverTime
0.31170801392867453 15
0 MonthlyIncome
0.38307522700081026 15
0 MonthlyIncome
0.2688876860853931 15
0 MonthlyIncome
0.3484111520800586 15
0 MonthlyIncome
0.2801025338538716 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.38817288507739134 15
0 MonthlyIncome
0.49318464145496244 15
1 MonthlyIncome
0.45570740182671127 11
0 JobLevel
0.3891924166927076 15
0 MonthlyIncome
0.5640103947859156 28
0 YearsSinceLastPromotion
0.3402548991575288 15
0 MonthlyIncome
0.2383017376259064 15
0 MonthlyIncome
0.29131738162235005 15
0 MonthlyIncome
0.23626267439527396 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4092361288388391 17
1 NumCompaniesWorked
0.35758693661790464 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.463915114434167 18
0 OverTime
0.29842033216637254 11
0 JobLevel
0.463915114434167 18
1 OverTime
0.463915114434167 18
1 OverTime
0.37186037923233173 15
0 MonthlyIncome
0.43201274453598904 15
0 MonthlyIncome
0.47075494591800554 15
1 MonthlyIncome
0.4092361288388391 17
1 NumCompaniesWorked
0.1842665620141465 15
0 MonthlyIncome
0.28214159708450404 15
0 MonthlyIncome
0.2770439390079229 15
0 MonthlyIncome
0.29842033216637254 11
0 JobLevel
0.17362205206593762 13
0 JobSatisfaction
0.41468070707561316 15
0 MonthlyIncome
0.26175096477817955 15
0 MonthlyIncome
0.48910651499369756 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.3300595830043666 15
0 MonthlyIncome
0.2106559745170418 17
0 NumCompaniesWorked
0.29842033216637254 11
0 JobLevel
0.29842033216637254 11
0 JobLevel
0.463915114434167 18
1 OverTime
0.3106884823133583 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.25257518024033354 15
0 MonthlyIncome
0.2576728383169147 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.463915114434167 18
0 OverTime
0.441188529073835 15
0 MonthlyIncome
0.29842033216637254 11
0 JobLevel
0.29842033216637254 11
0 JobLevel
0.463915114434167 18
1 OverTime
0.4187588335368781 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.2719462809313418 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.3810361637701778 15
0 MonthlyIncome
0.20863718580268667 4
0 DistanceFromHome
0.463915114434167 18
0 OverTime
0.49726276791622737 15
0 MonthlyIncome
0.43405180776662144 15
0 MonthlyIncome
0.3708408476170156 15
0 MonthlyIncome
0.35350881015663976 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.48706745176306515 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.4024463276918185 15
0 MonthlyIncome
0.46463775622610815 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.463915114434167 18
0 OverTime
0.3270009881584179 15
0 MonthlyIncome
0.27383586954264044 28
0 YearsSinceLastPromotion
0.4092361288388391 17
0 NumCompaniesWorked
0.322922861697153 15
0 MonthlyIncome
0.5640103947859156 28
0 YearsSinceLastPromotion
0.4952237046855949 15
0 MonthlyIncome
0.5640103947859156 28
1 YearsSinceLastPromotion
0.4615791613801595 15
0 MonthlyIncome
0.3170748926004457 26
1 YearsAtCompany
0.37593850569359666 15
1 MonthlyIncome
0.3738994424629642 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.463915114434167 18
0 OverTime
0.3586064682332209 15
0 MonthlyIncome
0.24849705377906864 15
0 MonthlyIncome
0.25039848347485005 4
0 DistanceFromHome
0.4065244541530834 15
0 MonthlyIncome
0.2943759764682988 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.33469657567263844 10
1 JobInvolvement
0.38205569538549405 15
0 MonthlyIncome
0.27908300223855537 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.33469657567263844 10
0 JobInvolvement
0.4672855530381573 28
1 YearsSinceLastPromotion
0.33469657567263844 10
0 JobInvolvement
0.2953955080836149 15
0 MonthlyIncome
0.472794009148638 15
0 MonthlyIncome
0.4697354143026893 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.37491897407828045 15
0 MonthlyIncome
0.4177393019215619 15
1 MonthlyIncome
0.463915114434167 18
0 OverTime
0.19446187816730878 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.3430427440649067 17
0 NumCompaniesWorked
0.32190333008183675 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.4381299342278863 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.4778916672252191 15
0 MonthlyIncome
0.27806347062323916 15
0 MonthlyIncome
0.4197783651521943 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.463915114434167 18
1 OverTime
0.41671977030624563 15
0 MonthlyIncome
0.45570740182671127 11
0 JobLevel
0.39225101153865627 15
0 MonthlyIncome
0.46361822461079194 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.3698213160016993 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.4238564916134592 15
1 MonthlyIncome
0.36676272115575065 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.2782393485896257 4
0 DistanceFromHome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.33821583592689636 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.463915114434167 18
0 OverTime
0.34637208884942616 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.38715335346207513 15
0 MonthlyIncome
0.4850283885324327 15
0 MonthlyIncome
0.2768493592909742 17
0 NumCompaniesWorked
0.3430427440649067 17
1 NumCompaniesWorked
0.3779775689242291 15
0 MonthlyIncome
0.2505361170097011 15
0 MonthlyIncome
0.23932126924122263 15
0 MonthlyIncome
0.42997368130535657 15
0 MonthlyIncome
0.272965812546658 15
0 MonthlyIncome
0.3351572410809477 15
0 MonthlyIncome
0.341274430772845 15
0 MonthlyIncome
0.44322759230446745 15
0 MonthlyIncome
0.20057906785920612 15
0 MonthlyIncome
0.5156479739120364 28
0 YearsSinceLastPromotion
0.4092361288388391 17
1 NumCompaniesWorked
0.47177447753332175 15
0 MonthlyIncome
0.16897358778440316 15
0 MonthlyIncome
0.21485251047363324 15
0 MonthlyIncome
0.20567672593578723 15
0 MonthlyIncome
0.5640103947859156 28
0 YearsSinceLastPromotion
0.4218174283828267 15
0 MonthlyIncome
0.5640103947859156 28
0 YearsSinceLastPromotion
0.3239423933124692 15
0 MonthlyIncome
0.20159859947452236 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.3677822527710669 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.313747077159307 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.49624323630091116 15
0 MonthlyIncome
0.39836820123055355 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.2841806603151365 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.25583359097107955 7
0 EnvironmentSatisfaction
0.463915114434167 18
0 OverTime
0.3626845946944857 15
0 MonthlyIncome
0.3430427440649067 17
1 NumCompaniesWorked
0.3993877328458698 15
0 MonthlyIncome
0.4789111988405353 15
0 MonthlyIncome
0.1761103090916167 15
0 MonthlyIncome
0.42079789676751056 15
0 MonthlyIncome
0.3430427440649067 17
0 NumCompaniesWorked
0.35656740500258843 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.29842033216637254 11
0 JobLevel
0.3688017843863831 15
0 MonthlyIncome
0.41366117546029696 15
0 MonthlyIncome
0.45570740182671127 11
0 JobLevel
0.4672855530381573 28
0 YearsSinceLastPromotion
0.463915114434167 18
1 OverTime
0.19344234655199255 15
0 MonthlyIncome
0.30864941908272586 15
0 MonthlyIncome
0.35962599984853705 15
0 MonthlyIncome
0.42487602322877543 15
0 MonthlyIncome
0.4085635173837159 15
0 MonthlyIncome
0.500321362762176 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.463915114434167 18
0 OverTime
0.33719630431158015 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4829893253018002 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.23116501631869282 15
0 MonthlyIncome
0.3606455314638533 15
0 MonthlyIncome
0.41892313216427807 28
0 YearsSinceLastPromotion
0.463915114434167 18
1 OverTime
0.25583359097107955 7
0 EnvironmentSatisfaction
0.3398993498498941 26
0 YearsAtCompany
0.2923369132376663 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.4309932129206728 15
0 MonthlyIncome
0.25155564862501734 15
0 MonthlyIncome
0.32802051977373414 15
0 MonthlyIncome
0.4092361288388391 17
0 NumCompaniesWorked
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.35452834177195597 15
0 MonthlyIncome
0.43609087099725385 15
0 MonthlyIncome
0.2658290912394445 15
0 MonthlyIncome
0.25359471185564975 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.49930183114685983 15
1 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.46769635107205687 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.463915114434167 18
1 OverTime
0.3430427440649067 17
0 NumCompaniesWorked
0.2678681544700769 15
0 MonthlyIncome
0.2852001919304527 15
0 MonthlyIncome
0.4758526039945866 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.463915114434167 18
1 OverTime
0.30966895069804207 15
0 MonthlyIncome
0.45570740182671127 11
0 JobLevel
0.463915114434167 18
0 OverTime
0.40550492253776715 15
1 MonthlyIncome
0.24951658539438487 15
0 MonthlyIncome
0.47381354076395416 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4116221122296645 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.18174199372570868 3
0 Department
0.40448539092245095 15
0 MonthlyIncome
0.26990721770070936 15
0 MonthlyIncome
0.20975485239705213 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.45444244007294593 15
0 MonthlyIncome
0.4075439857683996 15
1 MonthlyIncome
0.463915114434167 18
0 OverTime
0.3433134940034775 15
0 MonthlyIncome
0.3430427440649067 17
0 NumCompaniesWorked
0.463915114434167 18
1 OverTime
0.463915114434167 18
1 OverTime
0.40346585930713474 15
0 MonthlyIncome
0.23014548470337662 15
0 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.49828229953154357 15
0 MonthlyIncome
0.41892313216427807 28
1 YearsSinceLastPromotion
0.3310791146196828 15
0 MonthlyIncome
0.14113326250603372 11
0 JobLevel
0.463915114434167 18
1 OverTime
0.3178252036205719 15
1 MonthlyIncome
0.4279346180747241 15
0 MonthlyIncome
0.32219829041651965 28
0 YearsSinceLastPromotion
0.24441892731780376 15
0 MonthlyIncome
0.4687158826873731 15
0 MonthlyIncome
0.36574318954043444 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4672855530381573 28
0 YearsSinceLastPromotion
0.49012604660901377 15
0 MonthlyIncome
0.3249619249277855 15
0 MonthlyIncome
0.3902119483080238 15
0 MonthlyIncome
0.2760244073926067 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.4157002386909294 15
0 MonthlyIncome
0.18525430014257946 25
0 WorkLifeBalance
0.463915114434167 18
1 OverTime
0.37899710053954533 15
0 MonthlyIncome
0.2882587867764014 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.40958304899903203 15
1 MonthlyIncome
0.4493447819963648 15
0 MonthlyIncome
0.4666768194567406 15
0 MonthlyIncome
0.3422939623881613 15
0 MonthlyIncome
0.33469657567263844 10
0 JobInvolvement
0.18174199372570868 3
0 Department
0.463915114434167 18
0 OverTime
0.463915114434167 18
0 OverTime
0.372879910847648 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.463915114434167 18
1 OverTime
0.45570740182671127 11
0 JobLevel
0.49216510983964623 15
1 MonthlyIncome
0.25583359097107955 7
0 EnvironmentSatisfaction
0.28723925516108517 15
0 MonthlyIncome
0.22402829501147928 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.45570740182671127 11
1 JobLevel
0.4575010349188946 15
0 MonthlyIncome
0.29842033216637254 11
0 JobLevel
0.2643189160322379 4
0 DistanceFromHome
0.41892313216427807 28
0 YearsSinceLastPromotion
0.18174199372570868 3
0 Department
0.44220806068915125 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.27398534416197423 15
0 MonthlyIncome
0.2768493592909742 17
0 NumCompaniesWorked
0.21077438401236834 15
0 MonthlyIncome
0.3430427440649067 17
0 NumCompaniesWorked
0.4126416438449807 15
0 MonthlyIncome
0.463915114434167 18
0 OverTime
0.49114557822432997 15
0 MonthlyIncome
0.39429007476928873 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.363704126309802 15
0 MonthlyIncome
0.463915114434167 18
1 OverTime
0.32219829041651965 28
1 YearsSinceLastPromotion
0.17362205206593762 13
0 JobSatisfaction
0.39734866961523735 15
0 MonthlyIncome
0.43303227615130524 15
0 MonthlyIncome
0.18060255922873317 21
0 RelationshipSatisfaction
0.463915114434167 18
0 OverTime
0.2668486228547607 15
0 MonthlyIncome
0.3259814565431017 15
0 MonthlyIncome

In [78]:
import pickle
# open a file, where you ant to store the data
file = open('flight_rf.pkl', 'wb')

# dump information to that file
pickle.dump(svm, file)